/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  width: 95%;
  margin: auto;
}

sliderHome{
    overflow: hidden !important;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color:rgba(0, 0, 0, 0.9);
  overflow-x: hidden !important;
}

.link:hover{
    color: #ff5252;
}
.MuiBadge-badge{
  background-color: #ff5252 !important;
}
Nav ul button{
  text-transform: capitalize !important ;;

}
nav ul button:hover{
  background: none !important
}
/* Fix Swiper Button Size (FINAL) */
.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: #ffffff !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

/* Fix Arrow Icon Size */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: 300 !important;  /* thin arrow */
  color: #000 !important;
}


.homeCatslider {
    overflow: inherit !important;
    margin-top: 40px;
}

.homeCatslider .swiper-button-prev,
.homeCatslider .swiper-button-next {
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.homeCatslider .swiper-button-prev::after,
.homeCatslider .swiper-button-next::after {
    font-size: 16px !important;
}

.homeCatslider .swiper-button-prev {
    left: -10px !important;
}

.homeCatslider .swiper-button-next {
    right: -10px !important;
}

.homeCatslider .item {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.homeCatslider .swiper-button-prev:hover,
.homeCatslider .swiper-button-next:hover {
    background: #ff5252 !important;
}

.homeCatslider .swiper-button-prev:hover::after,
.homeCatslider .swiper-button-next:hover::after {
    color: #fff !important;
}
::-webkit-scrollbar {
  width: 6px !important;
  height: 8px !important;

}
::webkit-scrollbar-track{
background-color: #ccc;
}
::-webkit-scrollbar-thumb{
background-color: #ff5252;
}
.MuiTabs-indicator{
  background-color: #ff5252 !important;
}
.MuiTab-textColorPrimary.Mui-selected{
  color: #ff5252 !important;
}
.productSlider.swiper-wrapper{
  padding: 15px !important;
  margin-left: -15px !important;
  margin-right: -15px !important  ;
}