/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  width: 95%;
  margin: auto;
}

sliderHome{
    overflow: hidden !important;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color:rgba(0, 0, 0, 0.9);
  overflow-x: hidden !important;
}
.btn-org{background:#ff5252 !important;
color:#fff !important;
font-weight:500;
font-size:16px;
padding:7px 20px !important;
}

.link:hover{
    color: #ff5252;
}
.MuiBadge-badge{
  background-color: #ff5252 !important;
}
Nav ul button{
  text-transform: capitalize !important ;;

}
nav ul button:hover{
  background: none !important
}
/* Fix Swiper Button Size (FINAL) */
.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: #ffffff !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

/* Fix Arrow Icon Size */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: 300 !important;  /* thin arrow */
  color: #000 !important;
}


.homeCatslider {
    overflow: inherit !important;
    margin-top: 40px;
}

.homeCatslider .swiper-button-prev,
.homeCatslider .swiper-button-next {
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.homeCatslider .swiper-button-prev::after,
.homeCatslider .swiper-button-next::after {
    font-size: 16px !important;
}

.homeCatslider .swiper-button-prev {
    left: -10px !important;
}

.homeCatslider .swiper-button-next {
    right: -10px !important;
}

.homeCatslider .item {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.homeCatslider .swiper-button-prev:hover,
.homeCatslider .swiper-button-next:hover {
    background: #ff5252 !important;
}

.homeCatslider .swiper-button-prev:hover::after,
.homeCatslider .swiper-button-next:hover::after {
    color: #fff !important;
}
::-webkit-scrollbar {
  width: 6px !important;
  height: 8px !important;

}
::webkit-scrollbar-track{
background-color: #ccc;
}
::-webkit-scrollbar-thumb{
background-color: #ff5252;
}
.MuiTabs-indicator{
  background-color: #ff5252 !important;
}
.MuiTab-textColorPrimary.Mui-selected{
  color: #ff5252 !important;
}
.productSlider.swiper-wrapper{
  padding: 15px !important;
  margin-left: -15px !important;
  margin-right: -15px !important  ;
}
footer form input::placeholder{
 font-size:14px;
}
.css-imrgqg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-imrgqg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #ff5252 !important;
}

.MuiFormControlLabel-label {
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
  background: #ff5252 !important;
}
/* Info box animation */
.homeSliderV2 .swiper-slide-active .info {
  opacity: 1 !important;
  right: 0px !important;
  transition-duration: 0.8s;
}

/* h4 animation */
.homeSliderV2 .swiper-slide-active .info h4 {
  opacity: 1 !important;
  right: 0px !important;
  transition-duration: 1.5s;
}

/* h2 animation */
.homeSliderV2 .swiper-slide-active .info h2 {
  opacity: 1 !important;
  right: 0px !important;
  transition-duration: 2s;
}

.homeSliderV2 .swiper-slide-active .info button {
  bottom:0px !important;
  opacity: 1;;
}

/* h3 animation */
.homeSliderV2 .swiper-slide-active .info h3 {
  opacity: 1 !important;
  right: 0px !important;
  transition-duration: 2.5s;
}

.container{width:95%; margin:auto}


.MuiCheckbox-root{padding:6px !important}

.MuiCheckbox-colorPrimary.Mui-checked{
  color:#ff5252 !important
}

